[Unit]
Description=RS232 Scale Data Logger
After=network.target

[Service]
User=moorcroftlab
WorkingDirectory=/home/moorcroftlab/Documents/RS232C_Scale/scripts
ExecStartPre=/bin/sleep 5
ExecStart=/home/moorcroftlab/Documents/RS232C_Scale/utils/run_logger.sh
Restart=on-failure
StandardOutput=append:/home/moorcroftlab/log_output.txt
StandardError=append:/home/moorcroftlab/log_error.txt

[Install]
WantedBy=multi-user.target

